.form-group {
	display: block;
}

.form-group:nth-child(n+1) {
	margin-top: 10px;
}

.form-control {
	display: inline-block;
	position: relative;
}

.form-control input[type="text"],
.form-control input[type="password"] {
	width: 160px;
	position: relative;
	border: 1px solid #000;
	border-radius: 3px;
	height: 40px;
	padding: 4px 8px;
	font-size: 0.8em;
}

.form-control button {
	width: 160px;
	height: 40px;
	padding: 4px 30px;
	background: #00adff;
	font-size: .75em;
	border: 0;
	border-radius: 3px;
}

.error-indicator {
	display: none;
}

.form-control-error {
	display: none;
}

.form-control.has-error input {
	border: 2px solid #e34840;
	background: #ffdfdd;
}

.form-control.has-error .error-indicator {
	font-family: FontAwesome;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #e34840;
	font-style: normal;
}

.form-control.has-error .form-control-error {
	display: block;
}

.form-control.has-error .form-control-error {
	font-size: 0.75em;
	position: absolute;
	left: calc(100% + 12px);
	top: 4px;
	background: #e34840;
	padding: 8px;
	width: 200px;
	border-radius: 5px;
}

.form-control.has-error .form-control-error:before {
	content: '';
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background: #e34840;
	position: absolute;
	left: -5px;
	top: 11px;
}

.label-with-checkbox {
	position: relative;
	padding-left: 24px;
}

.label-with-checkbox input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
}

.button {

}
