<form [formGroup]="loginForm" (ngSubmit)="handleSubmit($event)">
	<div class="form-group">
		<div class="form-control" [class.has-error]="!isControlValid('username')">
			<input formControlName="username" type="text" name="username" placeholder="Username..." />
			<div class="form-control-error" [innerHTML]="getErrorMessageForControl('username')"></div>
		</div>
	</div>

	<div class="form-group">
		<div class="form-control" [class.has-error]="!isControlValid('password')">
			<input formControlName="password" type="password" name="password" placeholder="Password..." />
			<div class="form-control-error" [innerHTML]="getErrorMessageForControl('password')"></div>
		</div>
	</div>

	<div class="form-group">
		<div class="form-control">
			<label class="label label-with-checkbox" for="loginBoxRememberMe">
				<input formControlName="remember" type="checkbox" name="remember" id="loginBoxRememberMe" value="1">
				Remember me
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="form-control">
			<button type="submit" class="button">Log in!</button>
		</div>
	</div>
</form>
