<lc-login-box *ngIf="!isPending" (onSubmit)="handleLoginBoxSubmit($event)"></lc-login-box>
<lc-loader *ngIf="isPending"></lc-loader>
<p *ngIf="formErrorMessage" class="error-message">{{ formErrorMessage }}</p>
