* {
	box-sizing: border-box;
}

input {
	outline: 0;
}

html {
	height: 100%;
	background: linear-gradient(180deg, #2e2e2e, #232323) no-repeat;
}

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}
